.actionScriptProperties
.flexProperties
.project

.settings/
bin-debug/
bin/
html-template/
Export/

.DS_Store

nme-readme.txt

RayTrace.pidb

.hxtypes

# src/font/*
# src/minimalcomps/*